.pokemonDetails {
  background-color: #f8f8f8;
  padding: 20px;
  cursor: default;
  position: fixed;
  width: 75%;
  height: 75%;
  top: 10%;
  left: 15%;
  z-index: 2;
  transition: width 0.1s ease-in-out;
  border: 1px solid #f8f8f8;
  box-shadow: 4px solid black;
  display: flex;
  flex-direction: column;
}

.pokemonDetailsHeader {
  display: flex;
  height: 30px;
  padding: 10px;
  flex-direction: row-reverse;
}

.closeButton {
  cursor: pointer;
}

.pokemonDetailsContent {
  height: 100%;
  display: flex;
  flex-direction: row;
}

.leftSide {
  flex: 0.5;
  height: 100%;
}
.rightSide {
  flex: 1;
  height: 100%;
}

.pokemonDetailsTitle {
  font-size: 40px;
  margin: 0;
  text-align: center;
}

.pokemonAbilities {
  margin-top: 30px;
  overflow-y: auto;
  height: calc(100% - 150px);
}
.detailRow {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.detailTitle {
  font-size: 20px;
  margin-right: 12px;
  font-weight: bold;
}

.pokemonForms {
  flex: 1;
}

.formDetails {
  display: flex;
  justify-content: center;
}

.loaderWrapper {
  display: flex;
  justify-content: center;
}

@media (max-width: 800px) {
  .pokemonDetails {
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    padding: 0;
    right: 0;
    left: 0;
  }
  .pokemonDetailsContent {
    flex: 1;
    flex-direction: column;
  }
  .leftSide .pokemonImage {
    width: 150px;
    height: 150px;
  }
  .pokemonDetailsHeader {
    padding-right: 40px;
  }
  .pokemonAbilities {
    overflow-y: auto;
    margin-top: 0;
    padding: 15px 8px 0px;
  }
}
